<a href="https://colab.research.google.com/github/ramadhanbay/kuliah/blob/main/UTS_SinarBayuRamadhan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **UTS Machine Learning**

Sinar Bayu Ramadhan (01679220015@student.uph.edu)

Contoh kasus menggunakan google collab untuk Random Forest menggunakan data mobil bekas yang diambil dari https://atapdata.ai/dataset/231/harga_mobil_bekas

## import data untuk train

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split

url_train = 'https://raw.githubusercontent.com/ramadhanbay/kuliah/main/dataset/cars_train_new.csv'
url_test = 'https://raw.githubusercontent.com/ramadhanbay/kuliah/main/dataset/cars_test_new.csv'
data_train = pd.read_csv(url_train, low_memory=False)
data_test = pd.read_csv(url_test, low_memory=False)
data_train.head(10)
data_test.head(10)

,id,title,band,model,variant,fuelType,bodytype,tramsmission,seating,year,milage,color,image,place,price
0,42431,2014 BMW 320i 2.0 Sport Sedan,BMW,320i,Sport,Pertamax,Sedan,Automatic,5,2014,32500,Putih,https://img3.icarcdn.com/0782846/thumb-l_used-...,Tangerang,365000000
1,24089,2015 Mitsubishi Pajero Sport 2.5 Exceed SUV,Mitsubishi,Pajero Sport,Exceed,Solar,SUV,Automatic,7,2015,41000,Putih,https://img2.icarcdn.com/3144016/thumb-l_used-...,Gresik,305000000
2,33485,2016 Daihatsu Gran Max 1.3 D Van,Daihatsu,Gran Max,D,Pertamax,Van,Manual,8,2016,58000,Silver,https://img1.icarcdn.com/7813926/thumb-l_used-...,Blitar,102500000
3,38431,2012 Honda CR-V 2.4 2.4 SUV,Honda,CR-V,2.4,Pertamax,SUV,Automatic,5,2012,80000,Silver,https://img3.icarcdn.com/5514556/thumb-l_used-...,Jakarta Pusat,148000000
4,75566,2016 Toyota Fortuner 2.4 VRZ SUV,Toyota,Fortuner,VRZ,Solar,SUV,Automatic,7,2016,52000,Putih,https://img4.icarcdn.com/9025945/thumb-l_used-...,Bekasi,410000000
5,67329,2014 Toyota Kijang Innova 2.0 V MPV,Toyota,Kijang Innova,V,Pertamax,MPV,Automatic,8,2014,93000,Silver,https://img4.icarcdn.com/6213925/thumb-l_used-...,Surabaya,210000000
6,35478,2016 Mitsubishi Pajero Sport 2.4 Dakar SUV,Mitsubishi,Pajero Sport,Dakar,Solar,SUV,Automatic,7,2016,37500,Putih,https://img2.icarcdn.com/0836616/thumb-l_used-...,Pasuruan,452000000
7,63443,2013 Toyota Rush 1.5 S SUV,Toyota,Rush,S,Pertamax,SUV,Manual,5,2013,52000,Silver,https://img1.icarcdn.com/3372625/thumb-l_used-...,Jakarta Utara,155000000
8,19303,2013 Toyota Fortuner 2.7 G Luxury SUV,Toyota,Fortuner,G Luxury,Pertamax,SUV,Automatic,7,2013,57500,Putih,https://img1.icarcdn.com/5115475/thumb-l_used-...,Bekasi,235000000
9,12479,2014 Porsche Boxster 2.7 981 Convertible,Porsche,Boxster,981,Pertamax,Convertible,Automatic,2,2014,2000,Merah,https://img5.icarcdn.com/0676465/thumb-l_used-...,Jakarta Selatan,1425000000

In [9]:
print('The shape of our features is:', df.shape)

The shape of our features is: (80000, 15)

In [10]:
X_train.describe()

                 id         year        milage         price
count  80000.000000  80000.00000  8.000000e+04  8.000000e+04
mean   44772.651200   2013.37390  5.870982e+04  2.656917e+08
std    25855.346302      4.22111  6.851527e+04  3.845891e+08
min        1.000000   1955.00000  1.000000e+00  1.075000e+07
25%    22414.750000   2012.00000  2.500000e+04  1.150000e+08
50%    44788.500000   2014.00000  5.000000e+04  1.550000e+08
75%    67124.250000   2016.00000  8.000000e+04  2.450000e+08
max    89585.000000   2020.00000  5.000000e+06  1.300000e+10

In [11]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            80000 non-null  int64
 1   title         80000 non-null  object
 2   band          80000 non-null  object
 3   model         80000 non-null  object
 4   variant       78102 non-null  object
 5   fuelType      79999 non-null  object
 6   bodytype      79830 non-null  object
 7   tramsmission  80000 non-null  object
 8   seating       80000 non-null  object
 9   year          80000 non-null  int64
 10  milage        80000 non-null  int64
 11  color         80000 non-null  object
 12  image         80000 non-null  object
 13  place         80000 non-null  object
 14  price         80000 non-null  int64
dtypes: int64(4), object(11)
memory usage: 9.2+ MB

In [12]:
X_train.isnull().sum()

id                 0
title              0
band               0
model              0
variant         1898
fuelType           1
bodytype         170
tramsmission       0
seating            0
year               0
milage             0
color              0
image              0
place              0
price              0
dtype: int64